/*Style products.show*/
.proCont{
    background:#f0f0f0;
    margin: 0;
}
.proName{
  color: #2980b9;
  font-weight: bold;
}
.proInfo{
  margin: 10px;
  padding: 10px;
  font-size: 1.15em;
}
.proInfo span{
  font-weight: 700;
}
.price{
  font-style: italic;
}
.price span{
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
  color: #e74c3c;
}
/***style products.show messages**/
.messageCont{
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  border:1px solid #444;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 300px;
}
.messageHeader{
  background:#0984e3;
  color:#fff;
  padding: 5px;
}
.messageBody{
  background:#fff;
  color:#333;
  padding: 5px;
}
.sendCont textarea{
  width: 89%;
  height: 30px;
  resize: none;
}
.sendCont button{
  border-radius: 0;
height: 29px;
margin-top: -23px;
}
.sendCont  i{
  font-size: 1em;
  color:fff;
}
.reciversms{
  margin:5px;
  background:#f0f0f0;
  color:#333;
  padding: 5px;
 overflow-wrap: break-word;
}
.sendersms{
  margin:5px;
  background:#0984e3;
  color:#fff;
  padding: 5px;
 overflow-wrap: break-word;
}
/*products index style*/
.btnaddpro{
  margin-top: -7px;
}
/*products edit style*/
.imgCont{
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.imgCont img {
  width: 100%;
  height: auto;
}
/*image gallery*/
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
   overflow: hidden;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    overflow: hidden;
}
.responsive:hover .desc button{
  opacity: 1; 
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*end image gallery*/